<div class="card-contents">
  <mat-card class="example-card">
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="73%">

      </div>

      <div fxFlex="27%" [style.color]="getColor(project?.projectStatus)">{{project?.projectStatus}}</div>
    </div>
    <mat-card-header>
      <mat-card-title>{{project?.projectName | titlecase}} </mat-card-title>
      <mat-card-subtitle>{{project?.manager.firstName}} {{project?.manager.lastName}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content style="display: block; text-align: justify; text-justify: inter-word;" fxLayout="column">
      <p class="text">{{project?.projectDescription}}</p>

      <div fxLayout="row">
        <div class="icon-style" fxFlex="50%">
          <mat-icon class="icon-styling">date_range</mat-icon>
          <div>
            {{project?.startDate}}
          </div>
        </div>
        <!-- <div style="padding-left: 8rem; "> </span>  -->
        <div class="icon-style" fxFlex="50%">
          <mat-icon class="icon-styling">event</mat-icon>
          <div>
            {{project?.endDate.getDate()+'-'+project?.endDate.getMonth()+'-'+project?.endDate.getFullYear()}}
          </div>
        </div>
      </div>
      <!-- <br> -->
      <div fxLayout="row" fxLayoutGap="6px" class="icon-style" style="vertical-align: middle;">
        <i class='fas fa-map-marker-alt' style="color: gray; vertical-align: top; "></i>
        <div>
          {{project?.location | titlecase}} 
        </div>
      </div>
      <div>
        Project Skills: {{skillString()}}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div fxFlex="70%"></div>
      <button fxFlex="30%" class="btn btn-primary" type="submit" style="text-align: center; " *ngIf="!project.teamCreated" (click)="createTeam(project.projectId)">Create Team</button>
      &nbsp;
      <button fxFlex="30%" class="btn btn-primary" type="submit" style="text-align: center; " (click)="viewProject(project.projectId)">View Project</button>
    </mat-card-actions>
  </mat-card>
</div>