
.frontEndDev-column{
padding-bottom: 10px;
margin-bottom: 10px;
}
.middle-container{

    background-color: rgb(244, 245, 248);
    
    
}
.example-button-row{
    background-color: rgb(211, 221, 221);
    padding-left: 1200px;
    font-size:x-large;
}
.header{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/471/768/845/blurred-minimalism-gradient-wallpaper-preview.jpg");
}