.example-viewport {
    min-height: 350px;
    width: 340px;
    border: 1px solid black;
    font-weight: 400;
    margin: 1%;
    text-align:center; 
    color: burlywood;
    background-image: url("https://cdn.wallpapersafari.com/32/7/sIv0pN.jpg");
    border-radius: 5px;
  }
  
  .example-item {
    height: 50px;
  }

  
.example-viewport-h4{
  font-weight: 400;margin: 1%;text-align:center; background-color: rgb(145, 131, 131);min-height: 50px;
}

#resource-container{
  padding-top: 3%;
  padding-left: 8%;
  padding-bottom: 3%; 
  background-color: rgb(247, 240, 240);
}

#expertise-container{
  float: left;
}

.example-margin{
  background-color: white;
  height: 16px;
}

.mat-expansion-panel{
  color:  black;
}

#btn-create-team{
  width: 150px;
  font-weight: 500;
  font-size: larger;
}